<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rhea.upms.mapper.UpmsPermissionMapper">
  <resultMap id="BaseResultMap" type="com.rhea.upms.model.UpmsPermission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="permission_id" jdbcType="INTEGER" property="permissionId" />
    <result column="system_id" jdbcType="INTEGER" property="systemId" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="permission_value" jdbcType="VARCHAR" property="permissionValue" />
    <result column="uri" jdbcType="VARCHAR" property="uri" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="ctime" jdbcType="BIGINT" property="ctime" />
    <result column="orders" jdbcType="BIGINT" property="orders" />
  </resultMap>
</mapper>