<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rhea.upms.mapper.UpmsRolePermissionMapper">
  <resultMap id="BaseResultMap" type="com.rhea.upms.model.UpmsRolePermission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="role_permission_id" jdbcType="INTEGER" property="rolePermissionId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="permission_id" jdbcType="INTEGER" property="permissionId" />
  </resultMap>
</mapper>