<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rhea.upms.mapper.UpmsUserPermissionMapper">
  <resultMap id="BaseResultMap" type="com.rhea.upms.model.UpmsUserPermission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_permission_id" jdbcType="INTEGER" property="userPermissionId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="permission_id" jdbcType="INTEGER" property="permissionId" />
    <result column="type" jdbcType="TINYINT" property="type" />
  </resultMap>
</mapper>